<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>Mielete</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">   
            <nav class="navbar navbar-expand-sm navbar-warning bg-warning text-black mt-5 p-2">      
                <div class="container">        
                    
                        <a class="navbar-brand" href="#">
                        <img src="../imagenes/Imagen_logo.svg" alt="Logo" width="30" height="24">
                    </a>
                    
                    
                    <button class="navbar-toggler" 
                            data-bs-toggle="collapse"
                            data-bs-target="#menu">  
                        <span class="navbar-toggler-icon"></span>  
                    </button> 
                    
                    
                    <div id="menu" class="collapse navbar-collapse">  
                        <ul class="navbar-nav">
  
                                   <li class="nav-item px-2">  
                                <a class="nav-menu-link nav-link"
                                   th:href="@{/}"
                                   >Monedero</a>                          
                            </li>           
                            
                            <li class="nav-item px-2"> 
                                <a class="nav-menu-link nav-link"
                                   th:href="@{/producto/cartucheras}"
                                   >Cartucheras</a>      
                            </li>  
                            
                            <li class="nav-item px-2"> 
                                <a class="nav-menu-link nav-link"
                                   th:href="@{/producto/hogar}"
                                   >Hogar</a>  
                            </li> 
                            
                            <li class="nav-item px-2"> 
                                <a class="nav-menu-link nav-link"
                                   th:href="@{/producto/monederos}"
                                   >Quilt</a>  
                            </li>
                            
                            <li class="nav-item px-2"> 
                                <a class="nav-menu-link nav-link"
                                   th:href="@{/producto/quilt}"
                                   >Color</a>  
                            </li> 
                            
                            <li class="nav-item px-2"> 
                                <a class="nav-menu-link nav-link"
                                   th:href="@{/maps}"
                                   >Google maps</a>  
                            </li>   
                            
                            <li class="nav-item px-2">
                                <a class="nav-menu-link nav-link"
                                   th:href="@{/usuario/listado}"
                                   >Usuarios</a>
                            </li>
                            

                            

                        </ul>    
                    </div>  
                </div>   
            </nav>   
            
        </header>    
        <footer th:fragment="footer" 
                class="bg-warning fixed-bottom text-black mt-5 p-2">  
            <div class="container"> 
                <div class="col">    
                    <p class="lead text-center">  
                        <a><i class="bi bi-telephone"></i>8349 7326 / 8960 3774</a>
                        <a><i class="bi bi-envelope-at-fill"></i>Mielete.hecho.a.mano@gmail.com</a>
                    </p>  
                </div>  
            </div>   
        </footer>
    </body>
</html>
