<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Mieleta</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        
        <div class="container"> 
            <div class="row row-cols-3"> 
                <div class="card" th:each="publicacion : ${publicaciones}"> 
                    <div class="card-body"> 
                        <img th:src="${publicacion.imagen}" width="150px"/> 
                        <h5 class="card-title">[[${publicacion.titular}]]</h5> 
                    </div> 
                </div> 
            </div> 
        </div>
        
        
        
       
        
        <footer th:replace="~{layout/plantilla :: footer} "/>
    </body>
</html>
